\# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*

# Windows
**/windows/flutter/ephemeral/

# macOS
**/macos/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/
